<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="limitations" style="background-color: rgb(166, 234, 234);">

    <button class="strokePanel strokePanelMove"></button>

    <button class="iconButtonMap iconMapMove">
        <img class="iconButton" src="/static/assets/Карта.svg" alt="Карта"> </button>

    <a href="http://127.0.0.1:5500/templates/route.html">
        <button class="iconButtonMap iconRouteMove">
            <img class="iconButton" src="/static/assets/Маршрут.svg" alt="Маршруты"> </button>
    </a>

    <button class="iconButtonMap iconSearchMove">
        <img class="iconButton" src="/static/assets/Поиск.svg" alt="Поиск"> </button>

    <button class="iconButtonMap iconCarMove">
        <img class="iconButton" src="/static/assets/Машина.svg" alt="Машина"> </button>

    <button class="iconButtonMap iconProfileMove">
        <img class="iconButton" src="/static/assets/Профиль.svg" alt="Профиль"> </button>

</body>
</html>