<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="limitations" style="background-color: rgb(55, 50, 60);">
        <!-- Обводка -->
         <button class="strokePanel strokePanelMove"></button>

        <!-- Кнопка карты -->
        <button class="iconButtonMap iconMapMove">
            <img class="iconButton" src="/static/assets/Карта.svg">
        </button>

        <!-- Кнопка маршрута -->
        <button class="iconButtonMap iconRouteMove">
            <img class="iconButton" src="/static/assets/Маршрут.svg">
        </button>

        <!-- Кнопка поиска  -->
        <button class="iconButtonMap iconSearchMove">
            <img class="iconButton" src="/static/assets/Поиск.svg">
        </button>

        <!-- Кнопка машинки -->
        <button class="iconButtonMap iconCarMove">
            <img class="iconButton" src="/static/assets/Машина.svg">
        </button>

        <!-- Кнопка профиля -->
        <button class="iconButtonMap iconProfileMove">
            <img class="iconButton" src="/static/assets/Профиль.svg">
        </button>

    </body>

</html>
