<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Маршруты</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="limitations" style="background-color: rgb(166, 234, 234);">

    <button class="strokePanel strokePanelMove"></button>

    <a href="http://127.0.0.1:5500/templates/index.html">
        <button class="iconButtonMap iconMapMoveRoute">
            <img class="iconButton" src="/static/assets/Карта.svg" alt="Карта"> </button>
    </a>

    <button class="iconButtonMap iconRouteMoveRoute">
        <img class="iconButton" src="/static/assets/Маршрут.svg" alt="Маршруты"> </button>

    <button class="iconButtonMap iconSearchMoveRoute">
        <img class="iconButton" src="/static/assets/Поиск.svg" alt="Поиск"> </button>

    <button class="iconButtonMap iconCarMoveRoute">
        <img class="iconButton" src="/static/assets/Машина.svg" alt="Машина"> </button>

    <button class="iconButtonMap iconProfileMove"> 
        <img class="iconButton" src="/static/assets/Профиль.svg" alt="Профиль"> </button>

    <button class="iconButtonMap iconPlayOneMove">
        <img class="iconButton" src="/static/assets/Play 1.svg" alt="Маршрут 1"> </button>

</body>
</html>