<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
            
        
    </head>
    <body>
        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/5da3e768-c800-4744-a2a1-ff04983edac9/3840x" width="400px" height="auto" alt="ошибка 2523"> 
        <a href="/"> <h2>Нажми на меня</h2></a>
        <img src="static/assets/John-Wick-PNG-Clip-Art-HD-Quality.png" width="250px" height="auto">
        <table border="2" width="500px">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                </tr>
            </thead>
            <tbody align="center">
                <tr>
                    <td>Trinity</td>
                    <td>Marolda</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>Sosal ?</tr>
            </tfoot>
        </table>
        <h1 >sosal ?</h1>
        <h1 title="Привет">Привет</h1>
        <a href="https://google.com" target="_blank"> <h2>Нажми на меня</h2></a>
        <p>Да-да я, <b>как твои дела</b> мой друг ?</p>
        <p> bb <strong>bb <em> ffff </em>bbb</strong></p>
        H<sub>2</sub>0
        <abbr> title="Да да он самый" HTML</abbr>
        <address>
            <h3>Seatle, USA</h3>
        </address>
        <a href= "#sosal">Вниз</a>

        <ol start="1" type="a">
            <li>фф</li>
            <li>аа</li>
        </ol>
        <ul>
            <li>пп</li>
            <li>гг</li>
            <a name="sosal"></a>
        </ul>

        <link rel="stylesheet" href="">
        <script>
            
        </script>
                <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/5da3e768-c800-4744-a2a1-ff04983edac9/3840x" class="ramk">
                <a href="/test"> <h2>Нажми на меня</h2></a>
                <h1> sosal ?</h1>
                <p id="textpipipu">Lo.Debitis <b>animi</b> itis!</p>
        
                <h3 class="tests">sosal</h3>
        
                <button class=" icon-info">Главная</button>
    </body>

</html>